.value {
    font-size: 78px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .error_text div {
    color: red;
    text-align: justify;
    font-size: 0.8rem;
  }

  .error_text_container {
    height: 5rem;
  }
  
  .button {
    width: 100%;
    height: 2rem;
    margin: 0.1rem 0rem 0.1rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    background-color: #28A2D1;;
    color: white;
    font-weight: bold;
  }
  
  button:hover, .button:focus {
    border: 2px solid rgba(112, 76, 182, 0.4);
  }
  
  button:active {
    background-color: rgba(112, 76, 182, 0.2);
  }
  
  input {
    width: 100%;
    height: 2rem;
    border-radius: 0.2rem;
    margin-bottom: 0.2rem;
    box-sizing: border-box;
  }
  