.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    margin: auto;
    background-color: white;
    width: 100%;

}

.register_container {
    width: 50%;
}

.input_and_buttons_container {
    width: 70%;
}

.names {
    display: inline-flex;
    width: 100%;
}

.first_name {
    margin-right: 0.1rem;
    width: 50%;
}

.second_name {
    margin-right: 0.1rem;
    width: 50%;
}
