:root {
  background-image: url("./wall.jpg");
  background-size: initial;
  height: 100%;
  margin: auto;
}

.App {
  width: 50rem;
  margin: auto;
  background-color: white;
}

.App_root {
  height: 100vh;
  display: flex;
}

.App-link {
  color: rgb(112, 76, 182);
}